<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Swiper demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <style>
      html,
      body {
        position: relative;
        height: 100%;
      }

      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }

      swiper-container {
        width: 100%;
        height: 100%;
      }

      swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    </style>
  </head>

  <body>
    <swiper-container class="mySwiper" navigation="true">
      {% assign image_ids = 'image_1,image_2,image_3' | split: ',' %}

      {% for image_id in image_ids %}
        {% if section.settings[image_id] != blank %}
          <swiper-slide class="custom-image">
            <img src="{{ section.settings[image_id] | img_url: "2048x2048" }}" alt="Custom image">
          </swiper-slide>
        {% endif %}
      {% endfor %}
    </swiper-container>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>
  </body>
</html>
{% schema %}
{
  "name": "Slider",
    "settings": [
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "Image 1"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "Image 2"
    },
    {
      "type": "image_picker",
      "id": "image_3",
      "label": "Image 3"
    }
  ],
"presets": [
  {
    "name": "Slider"

  }
]
}
{% endschema %}
