.drawer__inner-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.7rem 0 5rem;
}
.drawer__inner-empty .button {
  width: 100%;
  font-size: 1.1rem;
}

.cart__empty-text {
  margin-top: 1.3rem;
  margin-bottom: 2.5rem;
}

.drawer.active .drawer__inner {
  transform: translateX(0);
}

.drawer {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  background: rgba(246, 244, 242, 0.8);
  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);
  transition: visibility var(--duration-default) ease;
}
.drawer.active {
  visibility: visible;
}
.drawer__contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.drawer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 42rem;
  max-width: 100vw;
  padding: 2rem;
  background-color: rgb(var(--color-base-background-2));
  overflow: hidden;
  transform: translateX(100%);
  transition: transform var(--duration-default) ease;
}
@media screen and (min-width: 750px) {
  .drawer__inner {
    padding: 5.6rem 5rem 2.4rem;
  }
}
.drawer__header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid rgba(var(--color-border-input));
}
@media screen and (min-width: 750px) {
  .drawer__header {
    align-items: flex-start;
    padding-bottom: 3.8rem;
  }
}
.drawer__heading {
  margin-bottom: 0;
  margin-top: 0;
}
@media screen and (min-width: 750px) {
  .drawer__heading {
    flex-grow: 1;
  }
}
.drawer__heading .icon-checkmark {
  color: rgb(var(--color-foreground));
  margin-right: 1rem;
  width: 1.3rem;
}
.drawer__count {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  min-height: 2rem;
  padding: 0 0.5rem;
  font-size: 1.2rem;
  color: rgb(var(--color-button-text));
  border-radius: 4rem;
  background-color: rgb(var(--color-base-button-background));
}
.drawer__count span {
  line-height: normal;
}
@media screen and (min-width: 750px) {
  .drawer__count {
    align-self: flex-end;
  }
}
.drawer__count:empty {
  background-color: transparent;
}
.drawer__close {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
@media screen and (min-width: 750px) {
  .drawer__close {
    top: 1rem;
    right: 1rem;
  }
}
.drawer__close .icon {
  transition: var(--duration-default);
}
.drawer__close:hover .icon {
  transform: rotate(90deg);
}
.drawer__footer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2.3rem;
  border-top: 0.1rem solid rgb(var(--color-border-input));
}
.drawer .cart-item {
  padding-top: 2.4rem;
  padding-bottom: 2.6rem;
  border-top: 0.1rem solid rgba(var(--color-border-input));
}
.drawer .cart-item:first-child {
  border: none;
}
.drawer .cart-item__details {
  flex: 1;
  margin-right: 1rem;
}
.drawer .cart-item__details dl {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0 0 0;
}
.drawer .cart-item__inner-top {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.drawer .cart-item__media {
  width: 6.4rem;
  height: 6.4rem;
  margin-right: 2rem;
  border: 1px solid rgba(var(--color-border-input));
}
.drawer .cart-item__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.drawer .cart-item__name {
  display: block;
  margin-bottom: 0;
  margin-top: 0;
  max-width: 18rem;
  font-family: var(--font-heading-family);
  font-size: 2rem;
  text-decoration: none;
  color: rgb(var(--color-foreground));
  transition: color var(--duration-default);
}
.drawer .cart-item__name:hover {
  color: rgb(var(--color-foreground), 0.75);
}
.drawer .cart-item__final-price, .drawer .cart-item__old-price {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(var(--color-foreground));
}
.drawer .cart-item__final-price .price, .drawer .cart-item__old-price .price {
  font-weight: 400;
}
.drawer .cart-item__final-price {
  margin-top: 0.5rem;
}
.drawer .cart-item__old-price {
  font-weight: 400;
  color: #B93131;
}
.drawer .cart-item .product-option {
  flex-wrap: wrap;
  font-size: 1.2rem;
  color: rgba(var(--color-foreground), 0.6);
}
.drawer .cart-item .product-option > * {
  display: inline-block;
  margin: 0;
}
.drawer .cart-item__price-wrapper {
  display: flex;
  flex-direction: column;
}
.drawer .cart-item__price-wrapper .price {
  font-weight: 400;
}
.drawer .cart-item__discounted-prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.drawer .cart-item__discounted-prices-total {
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.8rem;
  margin: 0;
}
.drawer .cart-item__discounted-prices-total dd {
  margin: 0;
}
.drawer .cart-item .quantity {
  width: 100%;
  margin-top: 2rem;
}
.drawer .cart-item .quantity__button {
  width: 4.5rem;
}
.drawer .cart-item .quantity__input {
  height: 4.5rem;
}
.drawer .cart-item__inner-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.7rem;
}
.drawer .cart-item cart-remove-button button {
  display: inline-flex;
  align-items: center;
  padding: 0;
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-size: 1.2rem;
  line-height: 1;
  letter-spacing: -0.02em;
  text-underline-offset: unset;
  color: rgba(var(--color-foreground), 0.75);
  text-decoration-color: rgba(var(--color-foreground), 0.2);
  transition: var(--duration-default);
}
.drawer .cart-item cart-remove-button button:hover .icon {
  transform: rotate(90deg);
}
.drawer .cart-item cart-remove-button .icon {
  height: 0.9rem;
  width: 0.9rem;
  margin-right: 1rem;
  transition: var(--duration-default);
}
.drawer .cart-item__error {
  display: flex;
  align-items: flex-start;
  margin-top: 0.4rem;
}
.drawer .cart-item__error-text {
  font-size: 1.2rem;
  line-height: var(--font-body-line-height);
  order: 1;
}
.drawer .cart-item__error-text:empty + svg {
  display: none;
}
.drawer .cart-item__error-text + svg {
  flex-shrink: 0;
  width: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.4rem;
}
.drawer .totals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.drawer .totals > * {
  margin: 0;
  font-size: 1.2rem;
}
.drawer .totals__subtotal {
  font-family: var(--font-body-family);
  color: rgba(var(--color-foreground));
}
.drawer .totals__subtotal:only-child {
  display: none;
}
.drawer .totals__subtotal-value {
  font-size: 1.1rem;
  font-weight: 600;
  color: rgba(var(--color-foreground));
}

.cart-drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.cart-drawer__overlay:empty {
  display: block;
}
.cart-drawer__footer {
  margin-bottom: 1rem;
}
.cart-drawer__footer .totals {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 2rem;
}
.cart-drawer .tax-note {
  display: block;
  margin-top: 0.4rem;
  font-size: 1.1rem;
  line-height: var(--font-body-line-height);
  color: rgba(var(--color-foreground), 0.6);
}
.cart-drawer__bottom {
  display: block;
  margin-top: auto;
  margin-bottom: 0;
}
.cart-drawer__ctas {
  text-align: center;
}
.cart-drawer__ctas > * {
  margin-top: 0.8rem;
}
.cart-drawer__continue {
  display: block;
  margin-top: 2.4rem;
  font-size: 1.2rem;
  color: rgba(var(--color-link), 0.6);
  text-underline-offset: 0.7rem;
  transition: var(--duration-default);
}
.cart-drawer__continue:hover {
  color: rgba(var(--color-link), 1);
}

cart-drawer-items.is-empty + .drawer__footer {
  display: none;
}

cart-drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
}

.cart-drawer__form {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

cart-drawer-items {
  overflow: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: -0.5rem;
  width: calc(100% + 1rem);
}
cart-drawer-items::-webkit-scrollbar {
  background: transparent;
  width: 0.6rem;
}
cart-drawer-items::-webkit-scrollbar-track {
  background: rgba(var(--color-foreground), 0.2);
}
cart-drawer-items::-webkit-scrollbar-thumb {
  background: rgba(var(--color-foreground), 0.3);
}

@media screen and (max-height: 650px) {
  cart-drawer-items {
    overflow: visible;
  }
  .drawer__inner {
    overflow: scroll;
  }
}
.cart-drawer .unit-price {
  margin-top: 0.6rem;
  text-align: end;
}

.discounts {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.discounts__discount {
  display: flex;
  align-items: center;
  line-height: 1.5;
}
.discounts__discount svg {
  color: rgba(var(--color-foreground-secondary));
}
.discounts__discount--end {
  justify-content: flex-end;
}
.discounts__discount--center {
  justify-content: center;
}
.discounts__discount > .icon {
  color: rgba(var(--color-foreground-secondary));
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
}