.cart-items thead {
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.03);
}

.cart-items td,
.cart-items th {
  padding: 0;
  border: none;
}

.cart-items th {
  text-align: left;
  padding: 1.8rem 0;
  font-size: 1.4rem;
  color: rgb(var(--color-foreground));
  font-weight: var(--font-heading-weight);
}

.cart-items th:first-child {
  padding-left: 4rem;
}

.cart-item__totals {
  position: relative;
}
.cart-item__totals .loading-overlay__spinner {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.cart-items *.right {
  text-align: right;
}

.cart-item__media-wrapper {
  height: 8rem;
  width: 8rem;
  border: 1px solid rgba(var(--color-button), 0.2);
}

.cart-item__image {
  max-width: 100%;
}

.cart-item__details {
  font-size: 1.4rem;
  line-height: 1.4;
}

.cart-item__details > * {
  margin: 0;
  max-width: 25rem;
}

.cart-item__details > * + * {
  margin-top: 0.8rem;
}

.cart-item__media {
  position: relative;
}

.cart-item__name {
  display: block;
  font-family: var(--font-heading-card-family);
  font-size: 2rem;
  color: rgb(var(--color-foreground));
  text-decoration: none;
  transition: var(--duration-default);
}

.cart-item__name:hover {
  color: rgb(var(--color-foreground), 0.75);
}

.cart-item__price-wrapper {
  margin: 0;
}

.cart-item__price-wrapper > * {
  display: block;
  margin: 0;
  padding: 0;
}

.cart-item__discounted-prices {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0 0.8rem;
}

.cart-item__discounted-prices dd {
  margin: 0;
}

.product-option {
  font-size: 1.2rem;
  line-height: 1.5;
}

.cart-item cart-remove-button {
  display: inline-block;
  margin-right: 1rem;
}

cart-remove-button a {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: rgb(var(--color-foreground));
  text-decoration: none;
  transition: var(--duration-default);
}

cart-remove-button a:hover {
  color: rgba(var(--color-foreground), 0.75);
}

cart-remove-button a:hover .icon {
  transform: rotate(90deg);
}

cart-remove-button .icon {
  height: 1.4rem;
  width: 1.4rem;
  margin-right: 1rem;
  color: rgba(var(--color-button));
}

.cart-item .loading-overlay {
  top: auto;
  left: auto;
  right: 0;
  bottom: 0;
  padding: 0;
}

@media screen and (min-width: 750px) {
  .cart-item .loading-overlay {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.loading-overlay:not(.hidden) ~ * {
  visibility: hidden;
}

.cart-item__error {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}

.cart-item__error-text {
  order: 1;
}

.cart-item__error-text + svg {
  width: 1.2rem;
  margin-right: 0.7rem;
  flex-shrink: 0;
  margin-top: 0.2rem;
}

.cart-item__error-text:empty + svg {
  display: none;
}

.product-option {
  color: rgba(var(--color-foreground), 0.6);
}

.product-option * {
  display: inline;
  margin: 0;
}

@media screen and (max-width: 989px) {
  .cart-items,
.cart-items thead,
.cart-items tbody {
    display: block;
    width: 100%;
  }
  .cart-items tbody {
    padding: 2rem;
  }
  .cart-items thead {
    display: none;
  }
  .cart-items thead tr {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
    padding-left: 4rem;
  }
  .cart-item {
    display: grid;
    grid-template: repeat(4, auto)/repeat(3, 1fr);
    gap: 1.7rem;
  }
  .cart-item:not(:first-child) {
    border-top: 0.2rem solid rgba(var(--color-base-background-1));
    padding-top: 2.5rem;
    margin-top: 4rem;
  }
  .cart-item:last-child {
    grid-column: 3/4;
    margin-bottom: 0;
  }
  .cart-item__media {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .cart-item__details {
    grid-column: 2/4;
  }
  .cart-item__prices {
    display: flex;
    align-items: center;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .cart-item__totals {
    display: flex;
    align-items: center;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .cart-item__quantity {
    grid-column: 1/4;
    grid-row: 3/4;
  }
  .cart-items .cart-item__quantity .quantity {
    width: 100%;
  }
  .cart-items .cart-item__quantity .quantity .quantity__button {
    width: 4.5rem;
  }
  .cart-items .cart-item__quantity .quantity .quantity__input {
    height: 4.5rem;
  }
  .cart-item__remove {
    display: flex;
    grid-column: 1/2;
    grid-row: 4/5;
  }
}
.cart-item__totals .price {
  font-size: 1.4rem;
  font-weight: normal;
}

.cart-item__media img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

@media screen and (min-width: 990px) {
  .cart-items {
    border-spacing: 0;
    border-collapse: separate;
    box-shadow: none;
    width: 100%;
    display: table;
  }
  .cart-items th + th {
    padding-left: 3rem;
  }
  .cart-items td {
    vertical-align: middle;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
  }
  .cart-item td:first-child {
    padding-left: 4rem;
  }
  .cart-item:first-child td {
    border-top: 0.2rem solid rgb(var(--color-base-background-1));
  }
  .cart-item:not(:last-child) td {
    border-bottom: 0.2rem solid rgb(var(--color-base-background-1));
  }
  .cart-item {
    display: table-row;
  }
  .cart-item > td + td {
    padding-left: 3rem;
  }
  .cart-item > td.cart-item__details {
    padding-left: 1.6rem;
  }
  .cart-item__media {
    width: 12rem;
  }
  .cart-item quantity-input {
    margin-top: 0.7rem;
  }
  .cart-items .medium-down {
    display: none;
  }
  .cart-item .cart-item__quantity,
.cart-items .cart-items__heading--wide {
    padding-left: 10rem;
  }
}
.cart-items .quantity {
  width: 20rem;
}

.cart-items .quantity__button {
  width: 5rem;
}

.cart-items .quantity__input {
  height: 5rem;
  font-size: 1.2rem;
}