.pagination-wrapper {
  margin-top: 1rem;
}
@media screen and (min-width: 990px) {
  .pagination-wrapper {
    margin-top: 1rem;
  }
}
.pagination__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.pagination__list > li {
  flex: 0 0 4rem;
  max-width: 4rem;
}
.pagination__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  padding: 0;
  color: rgba(var(--color-foreground), 0.4);
  text-decoration: none;
}
.pagination__item:hover {
  color: rgb(var(--color-foreground));
}
.pagination__item--current {
  color: rgb(var(--color-foreground));
}
.pagination__item-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4rem;
  color: rgba(var(--color-foreground), 0.3);
}
.pagination__item-arrow span {
  display: flex;
  align-items: center;
}
.pagination__item-arrow .icon {
  flex: 0 0 auto;
  width: 2.1rem;
  transition: transform var(--duration-default);
}
.pagination__item-arrow:hover .icon {
  color: rgba(var(--color-foreground));
  transform: translateX(0.5rem);
}
.pagination__item--prev .icon {
  transform: rotate(180deg);
}
.pagination__item--prev:hover .icon {
  transform: rotate(180deg) translateX(0.5rem);
}