#quick-view {
  max-width: 1076px;
  width: 100%;
}
@media (min-width: 750px) {
  #quick-view {
    height: 100%;
  }
}
#quick-view .modal-close-button {
  background-color: rgb(var(--color-background));
}
@media (min-width: 750px) {
  #quick-view .modal-close-button {
    background-color: transparent;
  }
}
#quick-view .slick-list {
  margin-bottom: -1rem;
}
#quick-view .product-section {
  margin-top: 0;
  height: 100%;
}
#quick-view .container {
  padding: 0;
  max-width: 100%;
}
@media (min-width: 750px) {
  #quick-view .container {
    height: 100%;
  }
}
@media (min-width: 1200px) {
  #quick-view .container {
    border: 0.1rem solid rgba(var(--color-base-text), 0.1);
    border-bottom: 0;
  }
}
#quick-view .product {
  height: 100%;
}
#quick-view .product__title {
  margin-top: 0;
}
@media screen and (min-width: 750px) {
  #quick-view .product__title {
    font-size: 2.5rem;
  }
}
#quick-view .product__outer {
  gap: 0;
  height: 100%;
  overflow: auto;
}
@media (min-width: 750px) {
  #quick-view .product__outer {
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  #quick-view .product__media-wrapper {
    width: 50%;
  }
}
@media (max-width: 749px) {
  #quick-view .product__media-wrapper--mobile-order {
    order: 0;
  }
}
@media (min-width: 750px) {
  #quick-view .product__media-list-wrapper {
    /*position: unset;*/
    top: 0;
    /*height: 100%;*/
  }
}
#quick-view .product__media-list {
  /*height: 0;
  padding-top: 100%;*/
  border: none;
  border-bottom: 0.1rem solid var(--color-border);
}
@media (min-width: 750px) {
  #quick-view .product__media-list {
    height: 100%;
    padding: 0;
    border-bottom: 0;
  }
}
#quick-view .product__info-wrapper {
  padding: 6rem 2rem 3rem;
  background: transparent;
  /* background-color: rgb(var(--color-base-background-2)); */
}
@media screen and (min-width: 750px) {
  #quick-view .product__info-wrapper {
    border-left: 0.1rem solid rgba(var(--color-base-text), 0.1);
  }
}
@media (min-width: 750px) {
  #quick-view .product__info-wrapper {
    overflow: auto;
  }
}
@media (min-width: 990px) {
  #quick-view .product__info-wrapper {
    padding: 6rem 4rem 3rem 5rem;
  }
}
@media (min-width: 1200px) {
  #quick-view .product__info-wrapper {
    width: 100%;
  }
}
#quick-view .product__description {
  margin: 3rem 0 1rem;
  max-width: 100%;
  overflow: hidden;
  position: relative;
}
#quick-view .product__description-more {
  display: inline-block;
  position: absolute;
  top: 2.3rem;
  right: 0;
  background-color: #f9f9f9;
  color: rgb(var(--color-base-text));
  transition: var(--duration-default);
  padding-left: 0.8rem;
}
#quick-view .product__description-more:hover {
  color: rgba(var(--color-base-text), 0.6);
}
#quick-view .product .price-wrapper {
  margin-top: 0;
}
#quick-view .product .product-parameters {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2.2rem;
}
@media (min-width: 990px) {
  #quick-view .product .product-parameters {
    flex-direction: row;
  }
}
@media (min-width: 990px) {
  #quick-view .product .product-parameters__variant {
    flex: 0 0 58%;
  }
}
#quick-view .product .product-parameters__quantity {
  margin-top: 0;
}
@media (min-width: 990px) {
  #quick-view .product .product-parameters__quantity {
    flex: 0 0 39%;
  }
}
@media (min-width: 990px) {
  #quick-view .product .product-form__input .quantity {
    width: 54%;
  }
}
#quick-view .product .product-form__buttons {
  align-items: center;
}
#quick-view .product .product-form__buttons-more {
  text-align: center;
  transition: var(--duration-default);
}
#quick-view .product .product-form__buttons-more:hover {
  color: rgba(var(--color-base-text), 0.6);
}
@media (min-width: 990px) {
  #quick-view .product .product-form__buttons-more {
    margin-left: 1rem;
    text-align: left;
  }
}
#quick-view .product .product-form__submit {
  width: 20.2rem;
  padding: 1rem;
}

.fancybox-opened .fancybox-skin {
  padding: 0;
  border-radius: 0;
  box-shadow: none;
}

.fancybox-close:empty {
  display: block;
  top: 4rem;
  right: 4rem;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect y='12.728' width='18' height='1.5' transform='rotate(-45 0 12.728)' fill='%2356443E'/%3e%3crect x='1.06055' width='18' height='1.5' transform='rotate(45 1.06055 0)' fill='%2356443E'/%3e%3c/svg%3e ") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  width: 1.4rem;
  height: 1.4rem;
  transition: var(--duration-default);
  opacity: 1;
}

.fancybox-close:empty:hover {
  transform: rotate(90deg);
}

.fancybox-overlay {
  background: rgba(246, 244, 242, 0.8) !important;
  backdrop-filter: blur(10px);
}

.qv-announcement.color-inverse {
  width: 100%;
  text-align: center;
  padding: 1rem;
  font-size: 1.2rem;
  color: rgb(var(--color-foreground));
  background-color: rgb(var(--color-base-button-background));
  position: relative;
}
.qv-announcement.color-inverse p {
  margin: 0;
}
.qv-announcement.color-inverse p a {
  text-decoration-color: rgba(var(--color-foreground), 0.6);
  text-underline-offset: 0.4rem;
  transition: var(--duration-default);
}
.qv-announcement.color-inverse p a:hover {
  color: rgba(var(--color-foreground), 0.6);
}

.qv-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.qv-wrapper {
  height: 100%;
  flex: 1;
  overflow: hidden;
}
