.blog__title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem 3rem;
  margin-bottom: 6.9rem;
}
.blog__title-wrapper--border {
  padding-top: 4rem;
  border-top: 1px solid var(--color-border);
}
.blog__title {
  margin: 0;
}
.blog__posts {
  display: grid;
  gap: 3rem 0;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 750px) {
  .blog__posts {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .blog__posts {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .blog__posts.blog__posts--4-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .blog__posts.blog__posts--4-items {
    grid-template-columns: repeat(4, 1fr);
  }
}
.blog__button {
  margin-left: auto;
}

.article-template .blog__title-wrapper {
  border: none;
}