.product .custom-liquid {
  margin-bottom: 1.5rem;
}
.product__outer {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* gap: 4rem; */
  margin-top: 0;
}
@media (min-width: 900px) {
  .product__outer {
    flex-direction: row;
  }
}
@media (min-width: 1500px) {
  .product__outer {
    /* gap: 13.4rem; */
  }
}
@media (min-width: 900px) {
  .product__media-wrapper {
    width: 50%;
  }
}
@media (min-width: 900px) and (max-width:1200px) {
  .product__media-wrapper {
    width: 114%;
  }
}
@media (min-width: 1200px) {
  .product__media-wrapper {
    width: 55%;
    
  }
}
@media (min-width: 900px) {
  .product__media-wrapper--desktop-order {
    order: 1;
  }
}
@media (max-width: 749px) {
  .product__media-wrapper--mobile-order {
    order: 1;
    width: 100%;
  }
}
@media (min-width: 900px) {
  .product__media-list-wrapper {
    /* position: sticky; */
    top: 6.8rem;
  }
}
@media (min-width: 990px) {
  .product__media-list-wrapper {
    top: 12rem;
  }
}
.product__info-container .product-form {
  margin: 0;
}
.product__info-container .share-button {
  margin-top: 1rem;
}
.product__description {
  margin-bottom: 3.5rem;
  max-width: 42rem;
}
@media (min-width: 900px) {
  .product__media-container .slider-buttons {
    display: none;
  }
}
@media (min-width: 900px) {
  .product__info-wrapper {
    width: 30%;
  }
}
@media (min-width: 1200px) {
  .product__info-wrapper {
    width: 28%;
  }
}
.product__title__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 1.2rem;
  margin-bottom: 1.4rem;
}
.product__title {
  word-break: break-word;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 500;
  line-height: 1;
}
.product__text {
  font-size: 1.1rem;
  font-weight: var(--font-button-weight);
  letter-spacing: 0.075em;
  color: rgb(var(--color-base-text));
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.product__text.subtitle {
  font-size: 1rem;
}
.product__sku {
  font-size: 1.6rem;
  color: rgb(var(--color-foreground));
  margin: 0 0 2.4rem;
}
.product a.product__text {
  display: block;
  text-decoration: none;
  color: rgba(var(--color-foreground), 0.75);
}
.product__accordion .accordion__content {
  padding: 0 1rem;
}
.product .price--sold-out .price__badge-sale {
  display: none;
}
.product__additional-wrapper {
  /* margin-top: 6rem; */
  border-top: 0.1rem solid rgba(var(--color-base-text), 0.2);
}
@media (min-width: 990px) {
  .product__additional-wrapper {
    /* margin-top: 17rem; */
  }
}
.product__additional {
  display: block;
  gap: 0.5rem;
  padding: 1rem 0 1.5rem;
  border-bottom: 0.1rem solid rgba(var(--color-base-text), 0.2);
  cursor: pointer;
  transition: var(--duration-default);
}
@media (min-width: 990px) {
  .product__additional {
    /* display: flex; */
    align-items: flex-start;
    /* padding: 8.6rem 0; */
  }
}
.product__additional:hover .product__additional-title svg {
  transform: translateX(0.5rem);
}
.product__additional:hover .product__additional-title span {
  background-size: 100% 0.2rem;
}
.product__additional.active .product__additional-title svg {
  transform: rotate(90deg);
}
.product__additional-title {
  display: flex;
  align-items: center;
  margin: 0 0 1.5rem;
  flex: 0 0 42%;
}
@media (min-width: 990px) {
  .product__additional-title {
    margin: 0;
  }
}
.product__additional-title span {
  display: inline;
  background: no-repeat 0 100%;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0 0.2rem;
  transition: background-size var(--duration-long) ease;
}
.product__additional-title span p {
  margin: 0;
}
.product__additional-title svg {
  max-width: 4rem;
  /* width: 100%; */
  height: 2rem;
  margin-right: 5rem;
  transition: var(--duration-default);
}
@media (min-width: 990px) {
  .product__additional-title svg {
    /* max-width: 6.2rem;
    height: 3rem; */
  }
}
.product__additional-description {
  display: none;
  flex: 0 0 52%;
  margin-top: 4rem;
  text-align: justify;
}
@media (min-width: 990px) {
  .product__additional-description {
    margin-top: 0;
  }
}
.product__media-list-wrapper-outer {
  position: relative;
  user-select: none;
}
.product__media-list-wrapper-outer .product__media-list-wrapper-outer-arrow {
  width: 63px;
  height: 63px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--duration-default);
  opacity: 0;
  visibility: hidden;
}
.product__media-list-wrapper-outer
  .product__media-list-wrapper-outer-arrow
  svg {
  color: rgb(var(--color-base-outline-button-labels));
}
.product__media-list-wrapper-outer
  .product__media-list-wrapper-outer-arrow_next {
  right: 25px;
}
.product__media-list-wrapper-outer
  .product__media-list-wrapper-outer-arrow_next:hover {
  transform: translateX(3px) translateY(-50%);
}
.product__media-list-wrapper-outer
  .product__media-list-wrapper-outer-arrow_prev {
  left: 25px;
}
.product__media-list-wrapper-outer
  .product__media-list-wrapper-outer-arrow_prev:hover {
  transform: translateX(-3px) translateY(-50%);
}
.product__media-list {
  width: 100%;
  height: 100%;
  outline: 0.1rem solid var(--color-border);
  overflow: hidden;
}
.product__media-list .product__media {
  height: auto;
}
.product__media-list .product__media img {
  width: 100%;
  display: block;
  position: static;
}
.product__media-list:not(.slick-initialized) {
  display: none;
}
.product__media-list .slick-track {
  height: auto;
}
.product__media-list .slider__slide {
  height: auto;
}
.product__media {
  height: 100%;
  background-color: rgb(var(--color-base-background-2));
}
.product__media img {
  width: 100% !important;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
.product__media-sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product__media-sublist:not(.flickity-enabled) {
  display: none;
}
.product__media-sublist .slick-track {
  margin-left: 0;
}
.product__media-sublist .slider__slide:hover + .is-selected .product__media {
  border-left-color: transparent !important;
}
.product__media-sublist .slider__slide:hover .product__media {
  border-color: rgb(var(--color-base-button-background));
  position: relative;
  z-index: 3;
}
.product__media-sublist .slider__slide.is-selected {
  position: relative;
  z-index: 3;
}
.product__media-sublist
  .slider__slide.is-selected
  + .slider__slide:hover
  .product__media {
  border-left-color: transparent;
}
.product__media-sublist
  .slider__slide.is-selected
  + .slider__slide
  + .slider__slide
  .product__media {
  border-left-color: transparent;
}
.product__media-sublist
  .slider__slide.is-selected
  + .slider__slide
  + .slider__slide:hover
  .product__media {
  border-left-color: rgb(var(--color-base-button-background));
}
.product__media-sublist .product__media {
  background-color: transparent;
  position: relative;
  height: 0;
  padding-top: 100%;
  /* border: 0.1rem solid var(--color-border); */
  cursor: pointer;
  box-sizing: border-box;
  /* transition: var(--duration-default); */
}
.product__media-sublist .product__media img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.product__media-subitem {
  width: 100%;
  overflow: hidden;
  max-width: 81px !important;
}
.product .is-selected.product__media-subitem .product__media {
  border-color: rgb(var(--color-base-button-background)) !important;
}
.product noscript .product__media img {
  max-width: 100%;
  height: auto;
}
.product__tags {
  margin-top: 0;
  margin-bottom: 2.2rem;
}
.product .price dd {
  margin: 0 1.2rem 0 0;
}
.product .price-wrapper {
  margin-top: 0;
  margin-bottom: .8rem;
  letter-spacing: -0.02em;
}
.product .price-item {
  font-size: 1.4rem;
  letter-spacing: -0.02em;
}
.product .price--on-sale .price-item--regular {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgb(var(--color-error));
  text-decoration-color: rgb(var(--color-error));
}
.product .select svg {
  color: var(--color-title-text);
}
.product .select__select {
  height: 5rem;
  background-color: transparent;
  box-shadow: none;
  text-transform: none;
  font-weight: 400;
}
.product__pickup-availabilities {
  margin-top: 0;
  margin-bottom: 1rem;
}
.product .share-buttons {
  margin-bottom: 3rem;
}
@media (min-width: 1440px) {
  .product--no-media
    .shopify-payment-button__button.shopify-payment-button__button--unbranded {
    background-position: 18rem center;
  }
}
.product--no-media .product__description {
  margin: 1.6rem auto 1.6rem auto;
}
@media (min-width: 990px) {
  .product--no-media .product__info-container {
    padding-left: 0;
    padding-top: 0;
  }
}
@media (min-width: 1200px) {
  .product--no-media .product__info-container {
    padding-right: 0;
  }
}
@media (min-width: 1200px) {
  .product--no-media .product__info-wrapper {
    max-width: 57rem;
    width: 100%;
  }
}

/* Product-tags */
.product-tags {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}
.product-tags__tag {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  color: rgba(var(--color-foreground), 0.6);
  background-color: rgba(var(--color-base-background-2));
  padding: 0 1.1rem;
}
.product-tags__tag .icon {
  width: 0.847rem;
  margin-left: 0.8rem;
  color: rgb(var(--color-title-text));
}

.product-parameters {
  margin-top: 0;
  margin-bottom: 3.2rem;
  pointer-events: all;
}
.product-parameters__quantity {
  flex: 0 0 100%;
  margin-top: 1.2rem;
}
@media (min-width: 990px) {
  .product-parameters__quantity {
    flex: 0 0 50%;
  }
}

.slider__slider .slick-track,
.slider__slider .slick-list {
  width: 100%;
}

.product-recommendations--single {
  width: 100%;
  margin-top: 8rem;
  margin-bottom: 3rem;
}
.product-recommendations--single .card-wrapper {
  display: flex;
}
.product-recommendations--single .card-wrapper:hover .card-information > svg {
  transform: translateX(0.5rem);
}
.product-recommendations--single .card-wrapper + .card-wrapper {
  margin-top: 1.5rem;
}
.product-recommendations--single .card--product {
  min-width: 9.8rem;
  max-width: 9.8rem;
  height: 11rem;
  border-right: 1px solid var(--color-border);
}
.product-recommendations--single .card--product img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-recommendations--single .card-information {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 1rem 3rem;
}
@media (min-width: 900px) {
  .product-recommendations--single .card-information {
    padding: 1rem;
  }
}
@media (min-width: 1200px) {
  .product-recommendations--single .card-information {
    padding: 1rem 3rem;
  }
}
.product-recommendations--single .card-information > svg {
  transition: var(--duration-default);
}
.product-recommendations--single .card-information__bottom {
  margin-top: 0.8rem;
}
.product-recommendations--single .card__title {
  font-size: 2rem;
  word-break: break-word;
}
.product-recommendations--single .price {
  font-size: 1.1rem !important;
}
.product-recommendations--single .price-item {
  font-size: 1.1rem !important;
}

/* Dynamic checkout */
.shopify-payment-button__button {
  min-height: 5rem;
}

.shopify-payment-button__button.shopify-payment-button__button--unbranded {
  font-family: var(--font-button-family);
  font-weight: var(--font-button-weight);
  font-style: var(--font-button-style);
  background-color: rgb(var(--color-base-button-background));
  border: 1px solid rgb(var(--color-base-button-background));
  border-radius: 2px;
  min-height: 5rem;
  padding: 1em;
  overflow: hidden;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='16' viewBox='0 0 22 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.7245 7.5C13.8018 6.1141 11.7357 3.30033 11.5003 0H12.3741C12.7079 4.23944 16.3736 7.57895 20.8466 7.57895C21.0666 7.57895 21.2845 7.57087 21.5003 7.55502V8.44498C21.2845 8.42913 21.0666 8.42105 20.8466 8.42105C16.3736 8.42105 12.7079 11.7606 12.3741 16H11.5003C11.7357 12.6997 13.8018 9.8859 16.7245 8.5H0.5V7.5H16.7245Z' fill='white'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: calc(50% + 70px) center;
  position: relative;
}
@media (min-width: 990px) {
  .shopify-payment-button__button.shopify-payment-button__button--unbranded {
    padding: 1em 5em 1em 2em;
    background-position: calc(50% + 42px) center;
  }
}
@media (min-width: 1200px) {
  .shopify-payment-button__button.shopify-payment-button__button--unbranded {
    background-position: calc(50% + 35px) center;
  }
}
@media (min-width: 1440px) {
  .shopify-payment-button__button.shopify-payment-button__button--unbranded {
    background-position: 14rem center;
  }
}

.shopify-payment-button__button--unbranded:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateY(calc(100% + 1px));
  transition: var(--duration-default);
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button), var(--alpha-button-border));
  background-color: rgb(58, 42, 37);
  filter: brightness(1);
  z-index: -1;
}

.shopify-payment-button__button--unbranded {
  background-color: rgba(var(--color-button), 0.9);
  box-shadow: none;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 0.07rem;
  transition: var(--duration-default);
}

.shopify-payment-button__button--unbranded:hover:not([disabled]) {
  background-color: rgb(var(--color-button));
  background-position: calc(50% + 75px) center;
}
@media (min-width: 1200px) {
  .shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-position: calc(50% + 40px) center;
  }
}
@media (min-width: 1440px) {
  .shopify-payment-button__button--unbranded:hover:not([disabled]) {
    background-position: 14.5rem center;
  }
}

.shopify-payment-button__button--unbranded:hover:after {
  transform: translateY(0);
}

.shopify-payment-button__button--unbranded:focus {
  outline: 0.3rem solid rgb(var(--color-foreground));
  outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus-visible {
  outline: 0.3rem solid rgb(var(--color-foreground));
  outline-offset: 0.3rem;
}

.shopify-payment-button__button--unbranded:focus:not(:focus-visible) {
  outline: 0;
}

.shopify-payment-button__more-options {
  font-size: 1.2rem;
  line-height: 1.5;
  letter-spacing: 0.05rem;
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}

/* Product form */
.product-form {
  display: block;
}
.product-form__error-message-wrapper:not([hidden]) {
  display: flex;
  align-items: flex-start;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
}
.product-form__error-message-wrapper svg {
  flex-shrink: 0;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.7rem;
  margin-top: 0.5rem;
}
.product-form__wrapper {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
@media (min-width: 900px) {
  .product-form__wrapper {
    width: 50%;
  }
}
.product-form__colors-wrapper {
  width: 100%;
}
.product-form__group-name {
  width: 100%;
  font-size: 1.1rem;
  font-weight: var(--font-button-weight);
  letter-spacing: 0.075em;
  color: rgb(var(--color-base-text));
  text-transform: uppercase;
  margin-bottom: 0.6rem;
  margin-top: 0;
}
.product-form__controls-group {
  margin-bottom: .4rem;
}
.product-form__controls-group--zero-gap {
  gap: unset;
}
.product-form__input {
  flex: 0 0 100%;
  padding: 0;
  margin-bottom: 1rem;
  min-width: fit-content;
  border: none;
}
@media (min-width: 990px) {
  .product-form__input {
    flex: 0 0 50%;
  }
}
.product-form__input:nth-of-type(odd) .select__select {
  border-radius: 0.2rem 0 0 0.2rem;
}
.product-form__input:nth-of-type(even) .select__select {
  border-radius: 0 0.2rem 0.2rem 0;
  margin-left: -0.1rem;
}
.product-form__input .quantity {
  width: 100%;
  box-shadow: none;
}
@media (min-width: 990px) {
  .product-form__input .quantity {
    width: 50%;
  }
}
.product-form__input .quantity__button {
  height: 5rem;
  color: var(--color-title-text);
  transition: var(--duration-default);
}
.product-form__input .form__label {
  padding-left: 0;
}
.product-form__input input[type="radio"] {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
  /* No outline when focus-visible is available in the browser */
}
.product-form__input input[type="radio"] + label {
  border: 0.1rem solid rgba(var(--color-foreground), 0.55);
  border-radius: 4rem;
  background-color: rgb(var(--color-background));
  color: rgb(var(--color-foreground));
  display: inline-block;
  margin: 0.7rem 0.5rem 0.2rem 0;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  text-align: center;
  transition: border var(--duration-short) ease;
  cursor: pointer;
}
.product-form__input input[type="radio"] + label:hover {
  border: 0.1rem solid rgb(var(--color-foreground));
}
.product-form__input input[type="radio"]:checked:not(.disabled) + label {
  border-color: rgb(var(--color-button));
  color: rgb(var(--color-button));
}
.product-form__input input[type="radio"]:checked:not(.disabled) + label:before {
  background-color: rgb(var(--color-button));
}
.product-form__input input[type="radio"].disabled + label {
  opacity: 0.5;
  pointer-events: none;
}
.product-form__input input[type="radio"].disabled + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-border);
  clip-path: polygon(96% 0, 100% 0, 4% 100%, 0% 100%);
}
.product-form__input input[type="radio"]:focus-visible + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}
.product-form__input input[type="radio"]:focus + label {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)),
    0 0 0 0.5rem rgba(var(--color-foreground), 0.55);
}
.product-form__input input[type="radio"]:focus:not(:focus-visible) + label {
  box-shadow: none;
}
.product-form__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
  margin-bottom: 1rem;
}
@media (min-width: 990px) {
  .product-form__buttons {
    flex-direction: row;
  }
}
.product-form__buttons > *:first-child {
  width: 100%;
}
@media (min-width: 990px) {
  .product-form__buttons > *:first-child {
    max-width: 52%;
    width: 52%;
  }
}
.product-form__buttons > *:last-child {
  width: 100%;
}
@media (min-width: 990px) {
  .product-form__buttons > *:last-child {
    max-width: 48%;
    width: 48%;
  }
}
.product-form__submit {
  min-height: 5rem;
  box-shadow: none;
  border: 0.1rem solid rgb(var(--color-base-button-background));
}
.product-form__submit[disabled] + .shopify-payment-button {
  display: none;
}

.modals {
  display: flex;
  gap: 3rem;
  margin-bottom: 2rem;
}
.modals__link {
  font-size: 1.2rem;
  letter-spacing: -0.02em;
  color: rgb(var(--color-base-text));
  text-decoration: underline;
  text-decoration-color: rgba(var(--color-base-text), 0.2);
  text-underline-offset: 0.7rem;
  transition: var(--duration-default);
}
.modals__link:hover {
  color: rgba(var(--color-base-text), 0.6);
}

.product-info-modal {
  display: none;
  width: 85.6rem;
  max-width: 100%;
  padding: 8rem 1.5rem 5rem;
  background-color: rgb(var(--color-base-background-2));
}
@media (min-width: 900px) {
  .product-info-modal {
    padding: 6.5rem 1.5rem 5rem;
  }
}
.product-info-modal__scroll {
  max-width: 77.6rem;
  height: 36.2rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  overflow: auto;
}
@media (min-width: 990px) {
  .product-info-modal__scroll {
    padding-left: 0;
  }
}
.product-info-modal__scroll::-webkit-scrollbar {
  width: 0.1rem;
}
.product-info-modal__scroll::-webkit-scrollbar-track {
  background-color: rgba(var(--color-title-text), 0.2);
}
.product-info-modal__scroll::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-title-text));
}
.product-info-modal__content {
  max-width: 56rem;
  margin: 0 auto;
}
.product-info-modal__title p {
  margin-top: 0;
}
.product-info-modal__text {
  margin-top: 3rem;
}
.product-info-modal__text p {
  font-size: 1.4rem;
  color: rgba(var(--color-base-text), 0.6);
  margin: 0;
}
.product-info-modal__text p + p {
  margin-top: 2.6rem;
}
.product-info-modal__page {
  margin-top: 1.6rem;
  overflow-y: scroll;
}
.product-info-modal__page::-webkit-scrollbar {
  width: 0.1rem;
}
.product-info-modal__page::-webkit-scrollbar-track {
  background-color: rgba(var(--color-title-text), 0.2);
}
.product-info-modal__page::-webkit-scrollbar-thumb {
  background-color: rgb(var(--color-title-text));
}
.product-info-modal__page table {
  width: 100%;
  width: max-content;
  border: 0.1rem solid rgba(var(--color-foreground), 0.2);
}
.product-info-modal__page table td {
  max-width: 15rem;
}

.fancy-container-info .fancybox-close-button {
  top: 1rem;
  left: 1.5rem;
  right: unset;
}
@media (min-width: 990px) {
  .fancy-container-info .fancybox-close-button {
    top: 4rem;
    left: 4rem;
  }
}

variant-radios,
variant-selects {
  display: flex;
  flex-wrap: wrap;
}

variant-radios > .product-form__wrapper {
  width: 100%;
}
@media (min-width: 900px) {
  variant-radios > .product-form__wrapper {
    width: 100%;
  }
}

fieldset.product-form__input .form__label {
  margin-bottom: 0.2rem;
}

/* Recipient form */
.recipient-form {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}
.recipient-form input[type="date"] {
  padding: 1.5rem 2rem;
}
.recipient-form input[type="date"] + label {
  opacity: 0;
}
.recipient-form input[type="checkbox"] {
  display: none;
}
.recipient-form input[type="checkbox"]:checked + label::before {
  background: url("data:image/svg+xml;charset=UTF-8,%3csvg aria-hidden='true' focusable='false' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 9' width='9px' height='6px' fill='none'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.35.643a.5.5 0 01.006.707l-6.77 6.886a.5.5 0 01-.719-.006L.638 4.845a.5.5 0 11.724-.69l2.872 3.011 6.41-6.517a.5.5 0 01.707-.006h-.001z' fill='%23000'/%3e%3c/svg%3e ")
    no-repeat center center;
  border-color: rgb(var(--color-border-input-hover));
}
.recipient-form input[type="checkbox"]:checked + label span {
  color: rgb(var(--color-foreground-title));
}
.recipient-form input[type="checkbox"]:checked ~ .recipient-fields {
  display: block;
  animation: animateMenuOpen var(--duration-default) ease;
}
.recipient-form
  input[type="checkbox"]:not(:checked, :disabled)
  ~ .recipient-fields {
  display: none;
}
.recipient-form input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(var(--color-foreground));
  cursor: pointer;
}
.recipient-form input[type="checkbox"] + label::before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.2rem;
  height: 2.2rem;
  margin: 0 1.1rem 0 0;
  border: 0.1rem solid rgba(var(--color-border-input));
  background-color: rgb(var(--color-background));
  appearance: none;
}
.recipient-form input[type="checkbox"] + label span {
  font-size: 1.5rem;
  font-weight: 500;
  transition: var(--duration-default);
}
.recipient-form input[type="checkbox"] + label:hover span {
  color: rgb(var(--color-foreground-title));
}
.recipient-form input[type="checkbox"] + label svg {
  display: none;
}
.recipient-form .recipient-email-label {
  display: none;
}
.recipient-form .recipient-form-field-label {
  font-size: 1.3rem;
  margin: 0.4rem 0 0;
  text-transform: initial;
}
.recipient-form .recipient-form-field-label--space-between {
  display: flex;
  justify-content: space-between;
}
.recipient-form .recipient-fields__field:not(:last-child) {
  margin: 0 0 1.6rem;
}
.recipient-form .recipient-fields hr {
  margin: 1.6rem auto;
}
.recipient-form .field .text-area + label {
  top: 1.5rem;
}
.recipient-form .field__input::placeholder {
  opacity: 0;
  visibility: hidden;
}
.recipient-form .field__input:placeholder-shown + label {
  opacity: 1;
}
.recipient-form .field__input:focus + label {
  opacity: 0;
}
.recipient-form .field label {
  top: 2rem;
  opacity: 0;
  visibility: visible;
  color: rgb(var(--color-foreground), 0.5);
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: unset;
  letter-spacing: 0;
}
@media screen and (min-width: 576px) {
  .recipient-form .field label {
    font-size: 1.2rem;
  }
}
.recipient-form .form__label {
  margin: 0;
}
.recipient-form .form__message {
  font-size: 1.2rem;
  line-height: 1;
  color: rgb(var(--color-error));
  margin: 0.4rem 0 0;
}

.no-js .recipient-checkbox {
  display: none !important;
}
.no-js .recipient-email-label.optional {
  display: inline;
}

.js .recipient-fields {
  display: none;
}
.js .recipient-email-label.required {
  display: inline;
}

/* Overrides */
.shopify-payment-button__more-options {
  display: none;
}

.shopify-payment-button__button.shopify-payment-button__button--unbranded {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.product__description-title {
  font-weight: 600;
}

/* Product media */
.product__media-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.product__media-list .product__media-item {
  width: 100%;
}
.product__media-list .deferred-media__poster img {
  width: 100%;
  height: auto;
}
.product__media-list.flickity-enabled {
  display: block;
}
.product__media-list.flickity-enabled
  ~ .product__media-list-wrapper-outer-arrow {
  opacity: 1;
  visibility: visible;
}

.product__media-item {
  display: block;
  width: 100%;
}

.product__media-sublist {
  display: flex;
  overflow-x: hidden;
  margin-top: 81px;
}
@media (max-width:400px) {
  .product__media-sublist{
    margin-top: 61px;
  }
}
.product__media-sublist.flickity-enabled {
  display: block;
}

.product__media-subitem {
  width: 33.3333%;
}

.product__media-icon .icon {
  width: 1.4rem;
  height: 1.4rem;
  color: rgb(var(--color-button));
}

.product__media-icon {
  background-color: transparent;
  border-radius: 50%;
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  color: rgb(var(--color-foreground));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  position: absolute;
  right: 3rem;
  top: 3rem;
  z-index: 1;
  transition: color var(--duration-short) ease,
    opacity var(--duration-short) ease;
}
@media (min-width: 990px) {
  .product__media-icon {
    height: 5rem;
    width: 5rem;
  }
}

.product__modal-opener--external_video .product__media-icon,
.product__modal-opener--video .product__media-icon {
  left: 50%;
  top: 50%;
  background-color: rgb(var(--color-background));
  transform: translate(-50%, -50%);
}

.product__media-video .product__media-icon {
  opacity: 1;
}

.product__modal-opener {
  height: 100%;
}

.product__modal-opener--image .product__media-toggle:hover {
  cursor: zoom-in;
}

.product__modal-opener:hover .product__media-icon {
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
}

@media screen and (min-width: 900px) {
  .grid__item.product__media-item--full {
    width: 100%;
  }
}
@media screen and (min-width: 990px) {
  .product__media-icon {
    opacity: 0;
  }
  .product__modal-opener:hover .product__media-icon,
  .product__modal-opener:focus .product__media-icon {
    opacity: 1;
  }
}
.product__media-item > * {
  display: block;
  position: relative;
}

.product__media-toggle {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.product-media-modal {
  background-color: rgb(var(--color-background));
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.product-media-modal[open] {
  visibility: visible;
  opacity: 1;
  z-index: 101;
}

.product-media-modal__dialog {
  display: flex;
  align-items: center;
  height: 100vh;
}

.product-media-modal__content {
  max-height: 100vh;
  width: 100%;
  overflow: auto;
}

/* .product-media-modal__content > *:not(.active),
.product__media-list .deferred-media {
  display: none;
} */

@media screen and (min-width: 900px) {
  .product-media-modal__content {
    padding-bottom: 2rem;
  }
  /* .product-media-modal__content > *:not(.active) {
    display: block;
  } */
  .product-media-modal__content > *:first-child {
    padding-top: 2rem;
  }
  .product__modal-opener:not(.product__modal-opener--image) {
    display: none;
  }
  .product__media-list .deferred-media {
    display: block;
  }
}
.product-media-modal__content > * {
  display: block;
  height: auto;
  margin: auto;
  max-height: 100vh;
  width: auto;
}

.product-media-modal__content .media {
  background: none;
}

.product-media-modal__model {
  width: 100%;
}

.product-media-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  right: 2rem;
  padding: 1.2rem;
  position: fixed;
  z-index: 2;
  top: 2rem;
  width: 5rem;
  height: 5rem;
}

.product-media-modal__toggle:hover .icon {
  transform: rotate(90deg);
}

.product-media-modal__toggle .icon {
  width: 1.4rem;
  height: 1.4rem;
}

.product-media-modal__content .deferred-media {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .product-media-modal__content > * {
    max-width: 96%;
  }
  .product-media-modal__content > * + * {
    margin-top: 2rem;
  }
  .product-media-modal__toggle {
    right: 4.8rem;
    top: 3.5rem;
  }
}
@media screen and (min-width: 990px) {
  .product-media-modal__content > * {
    max-width: 98%;
  }
  .product-media-modal__content > * + * {
    margin-top: 1.5rem;
  }
  .product-media-modal__content {
    padding-bottom: 1.5rem;
  }
  .product-media-modal__content > *:first-child {
    padding-top: 1.5rem;
  }
  .product-media-modal__toggle {
    right: 4.3rem;
    top: 3rem;
  }
}
.product-media-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-media-modal__toggle .icon {
  margin: 0;
}

/* Product popup */
.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgba(var(--color-foreground), 0.2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-popup-modal__content {
  background-color: rgb(var(--color-background));
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
}

@media screen and (min-width: 900px) {
  .product-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }
}
.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }
}
.product-popup-modal__opener {
  display: block;
}

.product-popup-modal__button {
  font-size: 1.4rem;
  padding-right: 1.3rem;
  padding-left: 0;
  height: 4.4rem;
  text-underline-offset: 0.3rem;
  text-decoration-thickness: 0.1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.product-popup-modal__button:hover {
  text-decoration-thickness: 0.2rem;
}

.product-popup-modal__content-info {
  padding-right: 4.4rem;
}

.product-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .product-popup-modal__content-info > * {
    max-height: 100%;
  }
}
.product-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: 0.1rem solid rgba(var(--color-foreground), 0.1);
  border-radius: 50%;
  color: rgba(var(--color-foreground), 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
  color: rgba(var(--color-foreground), 0.75);
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.product .price__badge-sale,
.product .price__badge-sold-out {
  display: none;
}

.price--sold-out .price__badge-sold-out,
.price--on-sale .price__badge-sale {
  display: inline-flex;
}

.inventory__title {
  display: block;
  margin-block: 0.4rem;
}
.inventory__title--error {
  color: rgb(var(--color-error));
}

.product-form__controls-group label.color-swatch {
  width: 3.2rem;
  height: 3.2rem;
  padding: 0.9rem;
  margin: 0;
  border-radius: 50%;
  border: 0.1rem solid var(--color-border);
  box-sizing: border-box;
}
.product-form__controls-group label.color-swatch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1.5rem;
  height: 1.5rem;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background-color: var(--swatch-color);
  transition: border-color var(--duration-default);
}

.product-form__controls-group input:checked:not(.disabled) + label.color-swatch,
.product-form__controls-group input + label.color-swatch:hover {
  border-color: rgb(var(--color-button));
}

.product-form__controls-group input.disabled + label.color-swatch {
  opacity: 1;
}
.product-form__controls-group input.disabled + label.color-swatch::before {
  top: 50%;
  height: 0.1rem;
  clip-path: unset;
  z-index: 1;
  transform: translateY(-50%) rotate(-45deg);
}

.product-form__colors-wrapper .product-form__controls-group {
  gap: 0.8rem;
}
.product-form__controls-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.product-form__controls-group input {
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  position: absolute;
  height: 1px;
  width: 1px;
}
.product-form__controls-group input + label:hover {
  border-color: rgb(var(--color-button));
  color: rgb(var(--color-button));
  position: relative;
  z-index: 1;
}
.product-form__controls-group input.disabled + label {
  opacity: 0.5;
  pointer-events: none;
}
.product-form__controls-group input.disabled + label:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-border);
  clip-path: polygon(96% 0, 100% 0, 4% 100%, 0% 100%);
}
.product-form__controls-group input:checked:not(.disabled) + label {
  border-color: rgb(var(--color-button));
  color: rgb(var(--color-button));
  position: relative;
  z-index: 1;
}
.product-form__controls-group input:checked:not(.disabled) + label:before {
  background-color: rgb(var(--color-button));
}
.product-form__controls-group label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 0 2rem;
  margin-left: -0.1rem;
  margin-top: -0.1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(var(--color-foreground-title));
  border: 0.1rem solid var(--color-border);
  cursor: pointer;
  position: relative;
  transition: border-color var(--duration-default);
}
@media (min-width: 900px) {
  .product-form__controls-group label {
    font-size: 1.6rem;
  }
}

.card-wrapper .product-form__controls-group {
  gap: 0.4rem !important;
}
.card-wrapper .product-form__controls-group label.color-swatch {
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border-color: transparent;
}
.card-wrapper .product-form__controls-group label.color-swatch::after {
  width: 1rem;
  height: 1rem;
}

.product-form__wrapper.js-color-swatches {
  pointer-events: all;
}

.collection-product-card.quickview--hover:hover
  .card-wrapper_secondary-image.image--color-swatches
  .card--product,
.collection-product-card.quickview--hover:hover
  .card-wrapper_secondary-image.image--color-swatches
  .card__inner,
.collection-product-card.quickview--hover:hover
  .card-wrapper_secondary-image.image--color-swatches
  .media {
  position: unset;
}
