.video-banner.container .video-banner__wrapper {
  padding-inline: 0;
}
@media screen and (min-width: 750px) {
  .video-banner.container .video-banner__wrapper {
    padding-inline: 2rem;
  }
}
.video-banner:not(.video-banner--full-width) {
  padding-top: 5rem;
}
@media screen and (min-width: 990px) {
  .video-banner:not(.video-banner--full-width) {
    padding-top: var(--spaced-section);
  }
}
.video-banner__wrapper {
  position: relative;
  z-index: 2;
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (min-width: 750px) {
  .video-banner__wrapper {
    padding-top: 3.2rem;
    padding-bottom: 3.2rem;
  }
}
.video-banner__column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.video-banner__column--column {
  gap: 2rem;
}
@media screen and (min-width: 990px) {
  .video-banner__column--column {
    flex-direction: column;
    max-width: 450px;
  }
}
.video-banner__column--center {
  text-align: center;
}
.video-banner__column--center .video-banner__column {
  margin: 0 auto;
}
.video-banner__heading {
  flex: 1;
  margin-bottom: 0;
}
.video-banner__heading p {
  margin-top: 0;
}
.video-banner__heading p:last-child {
  margin-bottom: 0;
}
.video-banner__information {
  flex: 1;
  line-height: 1.5;
}
.video-banner__text {
  margin: 0;
}
.video-banner__button {
  margin-top: 2rem;
}
.video-banner__media {
  overflow: visible;
}
.video-banner__content {
  display: flex;
  position: relative;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .video-banner__content {
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }
}
.video-banner--container {
  padding-inline: 0;
}
@media screen and (min-width: 750px) {
  .video-banner--container--container {
    padding-inline: 0;
    border-radius: 0;
  }
}
.video-banner--no-video {
  flex-direction: row;
  align-items: center;
}
.video-banner__media {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;
}
@media screen and (min-width: 750px) {
  .video-banner__media {
    position: absolute;
    height: 100%;
  }
}
.video-banner__media--cover video {
  object-fit: cover;
}
.video-banner__overlay {
  display: none !important;
}
@media screen and (min-width: 750px) {
  .video-banner__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /* display: block !important; */
    z-index: 1;
  }
}

.video-banner__content:not(:last-child) {
  margin-bottom: 2.4rem;
}

/* Header Overlay */
.header-wrapper--overlay .header__menu-item {
  transition: none;
}

body:not(.body--hidden) .shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__offcanvas-toggle .header__offcanvas-toggle-link {
  color: #fff;
}
body:not(.body--hidden) .shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__heading-link > * {
  color: #fff;
}

.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay {
  background-color: transparent;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__heading-logo:not(.header__heading-logo--overlay).hide {
  display: none;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__heading-logo--overlay.show {
  display: block;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay > *,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .disclosure__button {
  background-color: transparent;
  transition: none;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__menu-item:not(.header__submenu .header__menu-item),
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__icon .header__icon-name,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .currency-country:not(.menu-drawer__localization-wrapper .currency-country),
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__localization .value:not(.menu-drawer__localization-wrapper .value) {
  color: rgba(255, 255, 255, 0.8);
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__menu-item .header__active-menu-item {
  color: #fff;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__menu-item > span:not(.header__active-menu-item)::after,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__icon .header__icon-name::before,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .currency-country::after,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__localization .value::after {
  background-color: rgba(255, 255, 255, 0.8);
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__menu-item span:not(.header__active-menu-item) > span:after,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__icon-name span:after,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__localization .localization-selector.link:hover .icon-caret,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .link--text.header__icon:hover .icon,
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__search:hover .modal__toggle-open {
  color: white;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay summary .icon-caret path {
  fill: rgba(255, 255, 255, 0.6);
  transition: none;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__submenu .icon-caret path {
  fill: rgb(var(--color-foreground), 0.6);
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__inline-menu .header__menu-item:hover .icon-caret path {
  fill: white;
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__submenu .header__menu-item:hover .icon-caret path {
  fill: rgb(var(--color-foreground), 1);
}
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__localization localization-form .localization-form__select .icon-caret:not(.menu-drawer__localization-wrapper .icon-caret),
.shopify-section-header:not(.shopify-section-header-sticky.animate) .header-wrapper--overlay .header__icon .icon {
  color: rgba(255, 255, 255, 0.6);
  transition: none;
}

.shopify-section:last-child.video-banner-section .video-banner:not(.video-banner--full-width) {
  padding-bottom: 5rem;
}
@media screen and (min-width: 990px) {
  .shopify-section:last-child.video-banner-section .video-banner:not(.video-banner--full-width) {
    padding-bottom: var(--spaced-section);
  }
}

.shopify-section:not(.slideshow-section):not(.shopify-section-video):not(.image-collage-section) + .video-banner-section .video-banner--full-width {
  padding-top: 5rem;
}
@media screen and (min-width: 990px) {
  .shopify-section:not(.slideshow-section):not(.shopify-section-video):not(.image-collage-section) + .video-banner-section .video-banner--full-width {
    padding-top: var(--spaced-section);
  }
}