.collection {
  position: relative;
  /* margin-top: 3rem; */
}
@media screen and (min-width: 750px) {
  .collection {
    /* margin-top: 6.4rem; */
  }
}
.collection-filters {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 750px) {
  .collection-filters {
    display: block;
  }
}
.collection-product-list {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
.collection--empty .title-wrapper {
  margin-top: 10rem;
  margin-bottom: 15rem;
}

.collection-product {
  position: relative;
}
.collection-product .loading-overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  display: none;
  width: 100%;
  padding: 0 5rem;
  background-color: rgba(var(--color-background), 0.7);
}
.collection-product.loading .loading-overlay {
  display: block;
}

.collection-results {
  display: grid;
  grid-template-columns: 1fr;
}
@media screen and (min-width: 750px) {
  .collection-results {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collection-results {
    grid-template-columns: repeat(3, 1fr);
  }
}
.collection-results img.img-scale {
  transition: transform var(--duration-default) ease;
}
.collection-results .collection-product-card:hover img.img-scale {
  transform: scale(1.07);
}

.collection-product-image {
  position: relative;
  display: none;
  grid-column-start: 3;
  grid-row: 2/span 2;
  margin: -1px -1px 0;
  overflow: hidden;
  z-index: 2;
}
@media screen and (min-width: 990px) {
  .collection-product-image {
    display: block;
  }
}
.collection-product-image--left {
  grid-column-start: 1;
}
.collection-product-image__wrapper {
  width: 100%;
  height: 100%;
}
.collection-product-image__media {
  display: block;
  position: absolute;
  top: -100px;
  left: 0;
  right: 0;
  width: 100%;
  height: 115%;
  object-fit: cover;
}

.title-wrapper-empty .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title-wrapper-empty .title .link {
  letter-spacing: 0;
}

@media screen and (min-width: 990px) {
  .collection-product .pagination-wrapper {
    margin-top: 1rem;
  }
}

.collections-grid {
  display: grid;
  gap: 0.4rem;
}
@media screen and (min-width: 750px) {
  .collections-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 990px) {
  .collections-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .collections-grid {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 4px;
  }
}
.collections-grid img.img-scale {
  transition: transform var(--duration-default) ease;
}
.collections-grid__card {
  display: flex;
}
.collections-grid__card:nth-child(2n-1) .collections-grid__title {
  font-style: var(--font-span-heading-style);
}
.collections-grid__card .image-ratio {
  display: table;
  box-sizing: border-box;
  width: 0;
}
.collections-grid__card .image-ratio--portrait {
  padding-bottom: 130%;
}
.collections-grid__card .image-ratio--square {
  padding-bottom: 100%;
}
.collections-grid__card .image-ratio--landscape {
  padding-bottom: 66.7%;
}
.collections-grid .collection-product-card:hover img.img-scale {
  transform: scale(1.07);
}
.collections-grid .card-wrapper__image {
  opacity: 1;
}
.collections-grid .collection-product-card::after {
  opacity: 0.9;
}
.collections-grid__title {
  margin: 0;
  margin-bottom: 1.2rem;
  color: #fff;
}
@media screen and (min-width: 750px) {
  .collections-grid__title {
    font-size: 4.5rem;
  }
}
.collections-grid .card-wrapper {
  position: static;
  width: 100%;
}
.collections-grid .card-information {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 3rem;
}
.collections-grid__desc {
  margin: 0;
  font-size: 1.2rem;
  line-height: 145%;
  color: rgba(255, 255, 255, 0.6);
}