@media screen and (min-width: 750px) {
  .video-section.page-width {
    margin-top: calc(5rem + var(--page-width-margin));
    margin-bottom: calc(5rem + var(--page-width-margin));
  }
}
@media screen and (min-width: 990px) {
  .video-section,
.video-section__media {
    min-height: 78rem;
  }
}
.video-section__media {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 10.5rem 0;
}

.video-section-images {
  padding-block: 7.2rem;
}

.video-section__images {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  margin: 0 auto;
}
.video-section__images .images__top {
  left: 2rem;
}
.video-section__images .images__bottom {
  right: 2rem;
}

.video-section__poster {
  overflow: visible;
  z-index: 2;
  pointer-events: none;
}

.video-section__poster::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  mix-blend-mode: multiply;
  background: rgba(var(--color-overlay), 0.75);
  z-index: 1;
}

.video-section__media.deferred-media {
  overflow: visible;
}

.video-section__poster.deferred-media__poster:focus {
  outline-offset: 0.3rem;
}

.video-section__media iframe {
  top: 0;
  background-color: rgba(var(--color-foreground), 0.03);
  border: 0;
  z-index: 3;
}

.video-section__poster,
.video-section__media iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgba(var(--color-foreground), 1);
  font-family: var(--font-body-family);
  font-style: var(--font-body-style);
  font-weight: var(--font-body-weight);
}

.video-section__text {
  margin-top: 0;
  margin-bottom: 2.4rem;
  max-width: 59rem;
  color: rgba(var(--color-foreground), 0.8);
}

.video-section__content {
  z-index: 2;
}

.video-section__content h2 {
  max-width: 92rem;
  margin: 0;
}

.video-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.4rem;
  text-align: center;
}

.video-section__play {
  position: relative;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.4rem;
  width: 17.8rem;
  height: 17.8rem;
  background: rgba(217, 217, 217, 0.2);
  border-radius: 100%;
  backdrop-filter: blur(10px);
  cursor: pointer;
}
.video-section__play:hover svg {
  transform: scale(1.5);
}

.video-section__play svg {
  transition: transform 0.3s ease;
  transform-origin: 50% 50%;
}

.modal-iframe-close-button {
  min-width: 4.4rem;
  max-width: 4.4rem;
  height: 4.4rem;
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
@media (max-width: 1200px) and (orientation: landscape) {
  .modal-iframe-close-button {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
  }
}
@media (min-width: 990px) {
  .modal-iframe-close-button {
    min-width: 5rem;
    max-width: 5rem;
    height: 5rem;
    top: 2.5rem;
    right: 1.5rem;
  }
}

.modal-iframe-wrapper .fancybox-skin {
  padding: 0 !important;
}
.modal-iframe-wrapper .fancybox-inner {
  width: auto !important;
  height: auto !important;
}
.modal-iframe-wrapper .modal-iframe-close-button {
  top: -6.5rem;
  right: 0;
}
@media (min-width: 990px) {
  .modal-iframe-wrapper .modal-iframe-close-button {
    top: 0;
    right: -6.5rem;
  }
}

.video-section__images li {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
  z-index: 3;
}

deferred-media .video-section__images img {
  display: block;
  max-width: 13rem;
  height: auto;
  object-fit: cover;
}

@media screen and (min-width: 990px) {
  .video-section__images {
    display: block;
  }
  .images {
    pointer-events: none;
  }
  .images__top {
    left: 0;
    top: 5rem;
    justify-content: flex-start;
    transform: translateY(-50%);
  }
  .images__top img:nth-child(1) {
    margin-bottom: 2rem;
  }
  .images__top img:nth-child(2) {
    margin-bottom: -2rem;
  }
  .images__bottom img:nth-child(1) {
    margin-bottom: -2rem;
  }
  .images__bottom {
    right: 0;
    bottom: -1.5rem;
    flex-direction: row-reverse;
    justify-content: flex-end;
    transform: translateY(50%);
  }
}
.video-section__button {
  position: relative;
  box-shadow: 0 0 0 0.1rem rgba(var(--color-button-secondary), 0.3);
  pointer-events: all;
}

@media screen and (max-width: 989px) {
  .video-section,
.video-section__media {
    min-height: 30rem;
  }
  .video-section__media {
    padding: 6.4rem 0;
  }
  .video-section__content {
    gap: 2.4rem;
  }
  .video-section__play {
    width: 9rem;
    height: 9rem;
  }
}